server {
    listen 80;
    server_name {{ ansible_host }} {{ ansible_hostname }};
    location / {
        proxy_pass http://{{ansible_host}}:{{ kibana_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
